*{

}
:root {
    --orange: coral;

}
.orange{
    color: var(--orange);
}
.portofolio{
    margin-top: 9rem;

}
.kelly{
    width: 800px;
    height: 500px;

    margin: auto;
    margin-top: 100px;
}
.kelly1{
    width:200px;
    border-radius: 1000px;
    margin-left: 300px;
    
}
.teks3{
    color: black;
    text-align: center;
    margin-top: 90px;
    
}
.folio{
    margin-left: 115px;
}

.tes{
    padding-top: 90px;
}
.tek{
    padding-top: 20px;
}
.prog{
    color: white;
}
.img1{
    margin-left: 30px;
}

.html{
    color: white;
    font-size: 15px !important;
}
.persen{
    margin-left: 560px;
}
.persen1{
    margin-left: 578px;
}
.persen2{
    margin-left: 520px;
}
.container2{
    padding-left: 100px !important   ;
}
.container3{
    padding: 100px !important;
}
.nav-link:hover{
    color: var(--orange);
}
.nav-link:active{
    color:var(--orange);
}
.container4{
    padding-left: 100px !important;
}
.contact{
    margin-left: -65px !important;
}
.progress .progress-bar{
    background-color: var(--orange);
}
.copy{
    color: white;
    background-color: black;
    height: 30  px;
}
